header {
  background: linear-gradient(
      0deg,
      rgba(44, 44, 44, 0.6),
      rgba(44, 44, 44, 0.6)
    ),
    url("images/papapeint.jpg");
  background-size: cover;
  height: 550px;
	display: flex;
	align-items: center;
  justify-content: center;
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}
h1 {
  font-size: 56px;
  color: white;
}
body {
  font-family: Montserrat;
	margin: 0;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.about img {
  border-radius: 50%;
  width: 150px;
  margin-top: -30px;
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}